# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\manas\Py Project\Django-Hotel-Management-System-Source-Code\Django Hotel Management System Source Code\room_slot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
